@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif !important;
  background: rgb(20, 27, 28);
  background: linear-gradient(
    90deg,
    rgba(20, 27, 28, 1) 12%,
    rgba(37, 33, 60, 1) 79%
  );
}
#release {
  color: #ff7ba9;
}

.text {
  font-weight: 700;
}

.card-title {
  font-weight: 700;
}
.allName {
  color: navy;
  font-weight: 700;
}
.card {
  border-radius: 15px;
  box-shadow: 30px 20px 30px black;
}
.card-image {
  border-radius: 15px;
  padding: 15px;
}
.button {
  background: rgb(87, 98, 199);
}
.footer-style{
    color: rgb(48, 57, 139);
    background-color: rgb(20, 18, 18);
    /* text-align: center; */
    margin-bottom: 0;
    display:none;
    height: 300px;
    margin-top: 100px;
    
}
footer p{
    text-align: center;
    align-items: center;
    margin-top: 100px;
    padding: 140px;
}
.carousel{
    margin-bottom: 100px;
}
.navbar{
    background-color:rgba(37, 33, 60, 1) 79%;
}
.btn-search{
    color: white;
    background: rgb(87, 98, 199);
    margin-bottom: 100px;
}
.gif{
    height: 220px;
    width: 500px;
    border-radius: 10px;
    display: none;
    

}