@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family:'Lato', sans-serif;
}
#release{
    color: #FF7BA9;
}

.text{
    font-weight: 700;
}

.card-title{
    font-weight: 700;
}
.allName{
    color: navy;
    font-weight: 700;
}